# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Java/Gradle artifacts
/.gradle
/app/build
/app/bin
/outbox
/deployments
/storage
/gradle-8.10
/gradle-8.10-bin.zip

# Keep only required jPBC jars
/libs/*
!/libs/jars
!/libs/jars/**

# Integration artifacts
/outbox
/deployments
/storage
